<section class="price-second" id="price-second">
    <div class="container">
        <h2 class="price-second-title">Галерея</h2>
        <div class="price-second-slider price-second-swiper">
            <div class="swiper-wrapper">
                <div class="price-slid swiper-slide">
                    <img
                    src="./images/index-down/desktop/reviws11x-min.jpg"
                    alt=""
                    width="250"
                    />
                </div>
                <div class="price-slid swiper-slide">
                    <img
                    src="./images/index-down/desktop/reviws21x-min.jpg"
                    alt=""
                    width="250"
                    />
                </div>
                <div class="price-slid swiper-slide">
                    <img
                    src="./images/index-down/desktop/reviws31x-min.jpg"
                    alt=""
                    width="250"
                    />
                </div>
                <div class="price-slid swiper-slide">
                    <img
                    src="./images/index-down/desktop//reviws41x-min.jpg"
                    alt=""
                    width="250"
                    />
                </div>
                <div class="price-slid swiper-slide">
                    <img
                    src="./images/index-down/desktop/reviws51x-min.jpg"
                    alt=""
                    width="250"
                    />
                <div class="price-slid swiper-slide">
                    <img
                        src="./images/index-down/desktop/reviws61x-min.jpg"
                        alt=""
                        width="250"
                    />
                </div>
            </div>
            <div class="price-pagination"></div>
        </div>
    </div>
</section>
